@media(orientation: landscape){  
    body {display:grid;
        grid-template-areas: 
        "ndaku ndaku ndaku"
        "head head head"
        "encart corps menu"
        "pied pied pied";
        grid-template-columns: 10% 85% 5 1fr;
        grid-template-rows: auto;
        grid-gap: 30px; 
    }
    }
@media(orientation: portrait){
    body {
        display:grid;
      grid: "head"
            "ndaku"
            "menu" 
            "encart" 
            "corps" 
            "pied";
        
        grid-template-columns: auto;
    }
}
nav3{grid-area:ndaku;}
header{grid-area:head;}
nav{grid-area:menu;}
aside{grid-area:encart ;}
footer{grid-area:pied;}
section{grid-area:corps;}
header,nav,aside,nav3,section,footer{
    border:padding:1px;
    }


   header2{
    animation-play-state: running;
   position:fixed;
    background-color: black;
    text-align: defiled;
    text-decoration-color: white;
    background-attachment: fixed;
    color: white;
    margin: 2% 0 0 0;
    
}

header3{
    animation-play-state: running;
   position:fixed;
    background-color: black;
    text-align: defiled;
    text-decoration-color: white;
    background-attachment: fixed;
border: solid;
    color: white;
    border: padding:1%;
    margin: 0 0 0 0;
     font-size: 25PX;
}
body{
      font-family: Georgia, 'Times New Roman', Times, serif; 
 background-attachment: fixed;

   }
:required { background-color:  red; }
nazate{
   border: 1px solid;
   
}
kin{
   border: 1px solid;
}
header{
   
    background-attachment: fixed;
    position: fixed;
    background-color:  transparent;
    margin: 0% 0 0 4%;
    background-position: fixed;
width:100%;
    high: 2%;
    text-align: left;
    position: fixed
    border: none;
    text-decoration: white;
    text-color: red;
}
h1{
    margin:1px;
}

section{
    margin:0 0 0 0;
    high: 45%;
      background-attachment: fixed;
   width: 100%
}

aside{
    margin:0 0 0 0;
     high: 25%;    
      width: 100%;
      background-attachment: fixed;

}

nav{ 
    width:100%;
     
    high: 11%;
    margin: 0% 0 0 0;
    text-align: right;
    position: fixed;
background-attachment: fixed;

    background-color:  black;
}

nav3{ 
    width:60%;
    high : 3%;
    margin: 0% 0% 12% 15%;
    text-align: none;
    position: fixed;
font-family: Georgia, 'Times New Roman', Times, serif; 
 background-attachment: fixed;

      font-size: 12px;
    background-color:  black;
}


nav4{ 
    font-size: 12px;   
      width:60%;
    high: 3px;
    margin: 0% 30% 0% 17%;
    text-align: center;
    position: fixed;
color:white;
      background-attachment: fixed;

    background-color:  none;
}
    
footer{
    background-color: white;
    
    text-decoration-line: none;
    high:20%;
    width:100%;
    text-decoration-color: black;
    margin:0% 0%
        0% 0%;
        background-attachment: fixed;

    color:black;


    font-size: 20px;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  high:20%;
  margin:0% 0% 0% 0%;
  
}

#titre{
   
   font-size: 15PX;
 background-color: rgb(255, 255, 255);
font-style: italic; 
    color: rgb(4, 4, 7);
  text-decoration: black;  
    high:100%; 
    width:100%;
    margin:0 0 
    0 0;
 
    background-attachment: fixed;
}

title{
    
    text-align: justify;
text-decoration: none;
font-weight: bold;
    }
    h2{text-align: none;
text-decoration: underline;
font-weight: bold;


}


body {
 margin:0;
    
  font-family: 'Lato', sans-serif;
}

.overlay {
 height: 100%;
 width: 100%;
 position: fixed;
 z-index: 1;
 top: 1;
 left: 0;
 background-color:rgba(0,0,10,0.9) ;
  overflow-y: hidden;
 transition: 0.3s;
    
}


   
               
.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.overlay a {
  padding: 5px;
  text-decoration: none;
  font-size: 20px;
  color: #ff008c;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 20px;
    display: listitem;
}


1{
    width: 150px;
    display: b lock;
    
}





















#pied
{

    background-color: none;
    border: 1% solid;
    text-decoration-line: none;
    height:20%;
    width:100%;
    text-decoration-color: white;
    margin:0% 0%
        0% 0%;
        background-attachment: fixed;
color: black;
image-orientation: from-image;
}



nav1 ul{
    list-style-type: square;
    background-color :rgb(8, 4, 4);
    margin:0% 20% 0% 0%;
    padding-left: 0px;
text-align: center;

}
nav1 li{
    font-size: 15px;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    height:5px;
    margin:0% 0% 0% 0%;
    display:inline-table;
    border-left: solid 5px rgb(255, 255, 255);
}

button{
    line-height:1px;
    text-align: right;
}
nav1 li a{
    text-decoration: palevioletred ; 
    color:rgb(255, 255, 255);
    margin:0%;
   
    line-height:15px;


}
th{
    border: solid 1px;
    background: rgb(201, 199, 192);
}

p9{ 
    border: solid 1px;
    background: rgb(255, 200, 0);
}



td{
 text-decoration: 5%;
    border: solid 1px;
    background: rgb(21, 197, 109);
}


table{
                 
  width:2%;
  
                    
    border-collapse: collapse;
    }
    

nav1 li:hover{
    background-color:rgb(255,252,34);
    
}

nav2{
    font-size: 14px;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  height:10%;
  margin:1% 0% 0% 0%;
  display:inline-table;
    list-style-type: square;
  background-color :black;
  margin:0% 0% 0% 0%;
  padding: none;
text-align: justify;
    background-attachement:fixed;
    text-decoration: palevioletred ; 
  
    color:white;
  margin:0%;
  line-height:13px;
}

nav3{
      text-style-type: square;
      text-align: center;
    color:pink;
      
}

nav2 ul{
  list-style-type: square;
  background-color:black;
    color:white;
  margin:1%;
  border-color: none;
      border: 1px solid;
text-align: center;
  padding-left: 0;
}
   
nav2 li{
      text-align: center;
      border-color: red;
      
border-collapse:collapse;
  font-size: 13px;
  width: -100%;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  height:25px;
  margin:0% 0% 0% 0%;
   padding-left: 5px;
      
  display:inline-table;
  
  
  
}
h3{
    background-color: black;
    color: white;
    padding: 1%;
    
}

button{
  line-height:1px;
  text-align: right;
}
nav2 li a{
  text-decoration: palevioletred ; 
  
  margin:0%;
 background-color:black;
    color:pink;
  line-height:5px;


}

nav2 li:hover{
  background-color:black;
    color:white;
  
}

a{
    color: auto;
    
    text-decoration: none;
}



h5{
    color:auto;
    text-align: center;
    }
h4
{
   background-color: black;
      color:auto;
text-align: center; 
}




   
   	
